<div class="card">
    <div class="card-body">
        <h3>
            Menús
            <button (click)="openRightSidebar('create')" class="btn btn-info cursor float-right">
                <i class="fas fa-plus-circle"></i>
                Nuevo Menú
            </button>
            <div class="clearfix"></div>
        </h3>
        <hr>
        <div class="pt-3 pb-5 row">
            <div class="col-md-6 text-left">
                <div class="btn-group">
                <br>
                    <label>Seleccione el Nivel </label>
                <br>
                <select  class="form-control" (change)="changeView($event.target.value)">
                  <option value ="1">Primer Nivel </option>
                  <option value ="2">  Segundo Nivel  </option>
                  <option value ="3"> Tercer Nivel </option>
                </select>
                </div>
            </div>
        </div>
        <app-first-level-menus *ngIf='level === 1' [menus]='menus | levelMenu: 1' [sites]='sites' [pages]='pages' [allMenus] = 'menus'>
        </app-first-level-menus>
        <app-second-level-menus *ngIf='level === 2' [menus]='menus |levelMenu : 2' [sites]='sites' [pages]='pages' [allMenus] = 'menus'>
        </app-second-level-menus>
        <app-third-level-menus *ngIf='level === 3' [menus]='menus |levelMenu : 3' [sites]='sites' [pages]='pages' [allMenus] = 'menus'>

        </app-third-level-menus>
    </div>
</div>
<!-- sidebar -->
<div class="app-sidebar card" id="rightMenu">
        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Header of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="d-flex p-3 border-bottom card-header">
            <div class="d-flex align-items-center">
                <h2 class="text-center text-title"> {{sidebarMode === 'create'? 'Crear menu' : 'Editar menu'}} </h2>
            </div>

            <div class="ml-auto">
                <a href="javascript:void(0)" class="text-danger" (click)='closeRightSidebar()'>
                    <i-feather name="x" class="feather-sm"></i-feather>
                </a>
            </div>
        </div>
        <!-- ./  Header of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Body of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="p-4">
            <form *ngIf="sidebarMode === 'create'" [formGroup]="formMenuCreate" (ngSubmit)="create( formMenuCreate )">
                <div class="form-group">
                    <label for="siteNameCreate">Sitio web</label>
                    <div class="input-group mb-3">
                        <button type="button" class=" ml-1 btn btn-info" (click)="openModal( modalWebSites, 'sites' )">
                            <i class="fa fa-search me-1"></i>

                        </button>
                        <input type="text" value="{{ formMenuCreate.controls['site'].value | siteName : sites }}" class="form-control" id="siteNameCreate" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label> Titulo</label>
                    <input type="text" class="form-control" formControlName="title" placeholder="Titulo del Menú">
                </div>
                <div class="form-group">
                    <label> Peso</label>
                    <input class="form-control" formControlName="weight" placeholder="Peso del Menú" min="0">
                </div>
                <div class="form-group">
                    <label for="levelMenuCreate">Pagina</label>
                    <div class="input-group mb-3">
                        <button type="button" class=" ml-1 btn btn-info" (click)="openModal( modalPagina, 'pages' )" [disabled]="formMenuCreate.controls['site'].value == ''">
                            <i class="fa fa-search me-1"></i>

                        </button>
                        <input  value="{{ formMenuCreate.controls['page'].value | pageNameTwo: pages }}" class="form-control" id="pageNameCreate" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label>Nivel</label>
                    <select formControlName="level" class="form-control" (change)="changeLevel($event.target.value)">
                        <option value=""> -- Seleccionar nivel --</option>
                        <option value="1">Nivel 1</option>
                        <option value="2">Nivel 2</option>
                        <option value="3">Nivel 3</option>
                    </select>
                </div>
                
                <div class="form-group" *ngIf="levelFather">
                    <label for="levelMenuCreate">Padre</label>
                    <div class="input-group mb-3">
                        <button type="button" class=" ml-1 btn btn-info" (click)="openModal( modalMenus, 'menus' )">
                            <i class="fa fa-search me-1"></i>

                        </button>
                        <input  value="{{ formMenuCreate.controls['father'].value | menuName: menus }}" class="form-control" id="levelMenuCreate" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        <i-feather name="save" class="feather-sm mr-2"></i-feather>
                        Crear sitio web
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block" (click)="loadFormMenuCreate()">
                        <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                        Limpiar Formulario
                    </button>
                </div>
                
            </form>
        </div>
</div>

<!-- Modal web side -->
<ng-template #modalWebSites let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Seleccionar sitio web
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Sitio web</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let site of sites | slice: (paginationSites.page-1) * paginationSites.pageSize : (paginationSites.page-1) * paginationSites.pageSize + paginationSites.pageSize">
                            <td>{{site.name}}</td>
                            <td class="text-center">
                                <div class="row">
                                    <div class="col-12 action-btn">
                                        <button class="btn btn-info ml-1 action-text cursor-pointer"
                                            (click)="sidebarMode === 'create'? selectSite(site, 'create') : selectSite(site, 'edit')">
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ngb-pagination [collectionSize]="paginationSites.collectionSize"
                    [(page)]="paginationSites.page" [pageSize]="paginationSites.pageSize">
                </ngb-pagination>
            </div>
        </div>
    </div>
</ng-template>

<!-- Modal menus -->
<ng-template #modalMenus let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Seleccionar Menú
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Nivel</th>
                            <th>Menú</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let menu of menusPadre | slice: (paginationMenu.page-1) * paginationMenu.pageSize : (paginationMenu.page-1) * paginationMenu.pageSize + paginationMenu.pageSize">
                            <td>{{menu.level}}</td>
                            <td>{{menu.title}}</td>
                            <td class="text-center">
                                <div class="row">
                                    <div class="col-12 action-btn">
                                        <button class="btn btn-info ml-1 action-text cursor-pointer"
                                            (click)="sidebarMode === 'create'? selectMenu(menu, 'create') : selectMenu(menu, 'edit')">
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ngb-pagination [collectionSize]="paginationMenu.collectionSize"
                    [(page)]="paginationMenu.page" [pageSize]="paginationMenu.pageSize">
                </ngb-pagination>
            </div>
        </div>
    </div>
</ng-template>

<!-- Modal Pagina -->
<ng-template #modalPagina let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Seleccionar pagina
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body" *ngIf="pageFilter.length > 0">
            <div class="table-responsive" >
                <table class="table table-bordered table-hover" >
                    <thead class="table-dark">
                        <tr>
                            <th>Pagina</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let page of pageFilter | slice: (paginationPage.page-1) * paginationPage.pageSize : (paginationPage.page-1) * paginationPage.pageSize + paginationPage.pageSize">
                            <td>{{page.name}}</td>
                            <td class="text-center">
                                <div class="row">
                                    <div class="col-12 action-btn">
                                        <button class="btn btn-info ml-1 action-text cursor-pointer"
                                            (click)="sidebarMode === 'create'? selectPage(page, 'create') : selectPage(page, 'edit')">
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ngb-pagination [collectionSize]="paginationPage.collectionSize"
                    [(page)]="paginationPage.page" [pageSize]="paginationPage.pageSize">
                </ngb-pagination>
            </div>
        </div>

        <div class="card-body" *ngIf="pageFilter.length == 0">
            <h2>No hay páginas asociadas a este sitio</h2>
        </div>
    </div>
</ng-template>