<ng-template #modalCreateContent let-modal>
    <div class="modal-header bg-info">
        <h3 class="modal-title font-weight-bold text-white" id="taskLabel">
            Nuevo contenido para {{ idPage | pageName : pages }}
        </h3>
        <button type="button" class="close text-white" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup] = 'formCreate' (ngSubmit) ='create( formCreate )'>
                <div class="form-group">
                    <label for="contentIsActive">Estado de contenido:</label>
                    <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                        <option value="" select>Seleccionar estado</option>
                        <option value="true" select>Activo</option>
                        <option value="false" select>Inactivo</option>
                    </select>
                </div>
                <div class="form-group"  >
                    <label for="contentBody">Contenido:</label> 
                    <quill-editor
                        id="contentBody"
                        formControlName = 'body'
                        [placeholder]="'Insertar contenido...'" 
                        [modules]="quillModule" 
                        [styles]="{ 'height' : '35vh'}"  
                        [perfectScrollbar]="config">
                    </quill-editor>
                </div> 
                <div class="form-group ml-p2">
                    <button type ="submmit" class="btn btn-info">Agregar</button>
                    <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<!-- Modal editar contenido de página -->
<ng-template #modalEditContentPage let-modal>
    <div class="modal-header bg-info">
        <h3 class="modal-title font-weight-bold text-white" id="taskLabel">
            Editando contenido de {{ idPage | pageName : pages }}
        </h3>
        <button type="button" class="close text-white" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup] = 'formEdit' (ngSubmit) ='edit( formEdit )'> 
                <div class="form-group">
                    <label for="contentIsActive">Estado de contenido:</label>
                    <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                        <option value="" select>Seleccionar estado</option>
                        <option value="true" select>Activo</option>
                        <option value="false" select>Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contentBodyEdit">Contenido:</label>
                    <quill-editor
                        id="contentBodyEdit"
                        formControlName = 'body'
                        [placeholder]="'Insertar contenido...'" 
                        [modules]="quillModule" 
                        [styles]="{ 'height' : '35vh'}"  
                        [perfectScrollbar]="config"
                    >
                    </quill-editor>             
                </div>
                <div class="form-group ml-p2">
                    <button type ="submmit" class="btn btn-info" >Guardar cambios</button>
                    <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>


<div class="card border-left border-info">
    <div class="card-body">
        <div class="d-flex no-block align-items-center">
            <div>
                <span class="text-info display-6">
                    <i class="ti-layout-media-left-alt"></i>
                    <h3>Contenido | {{ idPage | pageName : pages }}</h3>
                </span>
            </div>
            <div class="ml-auto">
                <h2>{{ contentsByPage.length }} Totales</h2>
                <h6 class="text-info">Contenidos</h6>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
    <!-- <app-page-content [pageId]="idPageSelected"></app-page-content> -->
    <div >
        <select class="form-control" [(ngModel)] ="paginationContentPage.status" (change)='getContentsByPage(paginationContentPage.status)'>
            <option [ngValue]="true" [(selected)]="paginationContentPage.status"> Contenido activo </option>
            <option [ngValue]="false"[(selected)]="!paginationContentPage.status">Contenido inactivo</option>
        </select>   
        
    </div>
    <div *ngIf='contentsByPage.length > 0 ' class="mail-pagination ">
        <ngb-pagination 
            [collectionSize]="paginationContentPage.collectionSize" [(page)]="paginationContentPage.page" [pageSize]="paginationContentPage.pageSize"
        >
        </ngb-pagination>   
    </div>
    <div  class="text-left">
        <button  class="btn btn-info text-white" (click)='openModals(modalCreateContent, "create")' ><i  class="fa fa-plus-square me-2 mr-1"></i>Nuevo contenido</button> 
    </div>
</div>

<div *ngIf='contentsByPage.length > 0 '>
    <div class="position-relative" style="height: calc(100vh - 250px);" [perfectScrollbar]="config">
        <!-- POSTS NAVIGATION -->
        <!-- POSTS -->
        <spam *ngFor="let content of contentsByPage | slice: (paginationContentPage.page-1) * paginationContentPage.pageSize : (paginationContentPage.page-1) * paginationContentPage.pageSize + paginationContentPage.pageSize" >
            
            <div class="p-3">
                <div class="mb-2 mt-2">
                    <div *ngIf='true'>
                        <button type="button" class="btn btn-outline-info btn-sm" (click)="openModals(modalEditContentPage, 'edit', content)" >
                            <i class="me-2 fas fa-edit"></i> Editar
                        </button>
                    </div>
                </div>
                <div class="mb-2" [perfectScrollbar]="config"  >
                    <quill-view-html 
                        [format]="json" 
                        [theme]="bubble" 
                        [content]="content.body | slice:0:235"
                    ></quill-view-html>
                    <h1 (click)="openModals(modalEditContentPage, 'edit', content)" class="ml-3">...</h1>
                </div>    
            </div>
            <div class = 'border-bottom mb-2'></div>
        </spam>
    </div>
</div>
<div *ngIf="contentsByPage.length === 0 " class="position-relative" style="height: calc(100vh - 220px);" [perfectScrollbar]="config">
    <div class="d-flex align-items-center justify-content-center h-100" (click)="openModals( modalCreateContent, 'create' )">
        <div class="text-center" >
            
            <i class="fas fa-plus display-6">
            </i>
           
            <h3> Crear contenido </h3>
        </div>
    </div>     
</div>
