<ng-template #modalCreateContent let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Nuevo contenido para {{ idPage | pageName : pages }}
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup] = 'formCreate' (ngSubmit) ='create( formCreate )'>
                <div class="form-group">
                    <label for="contentBody">Contenido:</label>
                    <!-- <input type="text" class="form-control"  id="slug" formControlName = "slug">        -->
                    <textarea 
                        class="form-control" 
                        name="contentPage" 
                        id="contentPage" 
                        cols="30" rows="4" 
                        formControlName='body'
                        placeholder="Contenido de la página">
                    </textarea>               
                </div>
                <div class="form-group">
                    <label for="contentIsActive">Estado de contenido:</label>
                    <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                        <option value="" select>Seleccionar estado</option>
                        <option value="true" select>Activo</option>
                        <option value="false" select>Inactivo</option>
                    </select>
                </div>
                <div class="form-group ml-p2">
                    <button type ="submmit" class="btn btn-primary">Agregar</button>
                    <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<!-- Modal editar contenido de página -->
<ng-template #modalEditContentPage let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Editando contenido de {{ idPage | pageName : pages }}
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup] = 'formEdit' (ngSubmit) ='edit( formEdit )'>
                <div class="form-group">
                    <label for="contentBody">Contenido:</label>
                    <!-- <input type="text" class="form-control"  id="slug" formControlName = "slug">        -->
                    <textarea 
                        class="form-control" 
                        name="contentPage" 
                        id="contentPage" 
                        cols="30" rows="4" 
                        formControlName='body'
                        placeholder="Contenido de la página">
                    </textarea>               
                </div>
                <div class="form-group">
                    <label for="contentIsActive">Estado de contenido:</label>
                    <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                        <option value="" select>Seleccionar estado</option>
                        <option value="true" select>Activo</option>
                        <option value="false" select>Inactivo</option>
                    </select>
                </div>
                <div class="form-group ml-p2">
                    <button type ="submmit" class="btn btn-primary" >Editar</button>
                    <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<div class="card bg-primary">
    <div class="card-body text-white">
        <div class="d-flex flex-row">
            <div class="display-6 align-self-center">
                <i class="ti-calendar"></i>
            </div>
            <div class="p-10 align-self-center">
                <h4 class="m-b-0 text-white">{{ idPage | pageName : pages }}</h4>
                <span>Contenido</span>
            </div>
            <div class="ml-auto align-self-center">
                <h2 class="font-medium m-b-0 text-white">{{ contentsByPage.length }} Totales</h2>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
    <!-- <app-page-content [pageId]="idPageSelected"></app-page-content> -->
    <div >
        <select class="form-control" [(ngModel)] ="paginationContentPage.status" (change)='getContentsByPage(paginationContentPage.status)'>
            <option [ngValue]="true" [(selected)]="paginationContentPage.status"> Contenido activo </option>
            <option [ngValue]="false"[(selected)]="!paginationContentPage.status">Contenido inactivo</option>
        </select>   
        
    </div>
    <div *ngIf='contentsByPage.length > 0 ' class="mail-pagination ">
        <ngb-pagination 
            [collectionSize]="paginationContentPage.collectionSize" [(page)]="paginationContentPage.page" [pageSize]="paginationContentPage.pageSize"
        >
        </ngb-pagination>   
    </div>
    <div  class="text-left">
        <button class ="btn btn-primary" (click)='openModals(modalCreateContent, "create")'>Crear Contenido</button>
    </div>
</div>

<div *ngIf='contentsByPage.length > 0 '>
    <div class="position-relative" style="height: calc(100vh - 250px);" [perfectScrollbar]="config">
        <!-- POSTS NAVIGATION -->
        <!-- POSTS -->
        <spam *ngFor="let content of contentsByPage | slice: (paginationContentPage.page-1) * paginationContentPage.pageSize : (paginationContentPage.page-1) * paginationContentPage.pageSize + paginationContentPage.pageSize" >
            
            <div class="p-3">
                <!-- <div class="mb-3 d-flex align-items-center">
                    <img src="../../../../assets/images/img1.jpg" class="rounded-circle" alt="userimg" width="35" height="35">
                    <div class="ml-2">
                        <h5 class="mb-0">Autor</h5>
                        <span class="text-muted">Administrador,</span>
                    </div>
            
                </div> -->
                <div class="mb-4">
                    {{ content.body }}
                </div>
                <div class="mb-3">
                    <div *ngIf='true'>
                        <button type="button" class="btn btn-outline-success btn-sm" (click)="openModals(modalEditContentPage, 'edit', content)" >
                            <i class="me-2 fas fa-edit"></i> Editar
                        </button>
                    </div>
                </div>
            </div>
            <div class = 'border-bottom mb-2'></div>
        </spam>
    </div>
</div>
<div *ngIf="contentsByPage.length === 0 " class="position-relative" style="height: calc(100vh - 220px);" [perfectScrollbar]="config">
    <div class="d-flex align-items-center justify-content-center h-100" (click)="openModals( modalCreateContent, 'create' )">
        <div class="text-center" >
            
            <i class="fas fa-plus display-6">
            </i>
           
            <h3> Crear contenido </h3>
        </div>
    </div>     
</div>
