<div *ngIf='pageId !== ""' class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
    <div>
        <select name="" id="" class="form-control">
            <option value="true" selected> Contenido activo </option>
            <option value="">Contenido inactivo</option>
        </select>
        
    </div>

    <div class="mail-pagination">
        <!-- <ngb-pagination 
            [collectionSize]="paginationContentPage.collectionSize" [(page)]="paginationContentPage.page" [pageSize]="paginationContentPage.pageSize"
        >
        </ngb-pagination>    -->
        <!-- <h1 *ngIf="pages === undefined && pages.id ==''" >sdfsdffsd</h1> -->
    </div>
    <div  class="text-left">
        <!-- <button class ="btn btn-primary" (click)='openModal(modalCreateContent, "md", "createContent")'>Agregar Contenido</button> -->
    </div>
</div>
