<div>
    <ng-template #modalWebSites let-modal>
        <div class="modal-header">
            <h3 class="modal-title font-weight-bold" id="taskLabel">
                Seleccionar sitio web
            </h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class = "table-dark">
                            <tr>
                                <th>Sitio web</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let site of webSites | slice: (paginacionSites.page-1) * paginacionSites.pageSize : (paginacionSites.page-1) * paginacionSites.pageSize + paginacionSites.pageSize">
                                <td>{{site.name}}</td>
                                <td class ="text-center">
                                    <div class="row">
                                        <div class="col-12 action-btn">
                                            <button
                                                class="btn btn-info ml-1 action-text cursor-pointer"
                                                (click)="sidebarMode === 'create'? selectSite(formCreate, site.id) : selectSite(formEdit, site.id)"
                                            >
                                                <i class="fas fa-chevron-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <ngb-pagination [collectionSize]="paginacionSites.collectionSize" [(page)]="paginacionSites.page" [pageSize]="paginacionSites.pageSize">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </ng-template>

    <div>
        <a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none"
        href="javascript:void(0)" (click)="mobileSidebar()"></a>
    
        <div class="main-part" style="height: calc(100vh - 145px);">
            <div class="left-part bg-white fixed-left-part" [ngClass]="{'show-panel': showSidebar}">
                <div class="position-relative" style="height:100%;">
                    <div class="p-l-15 p-r-25 py-3 d-flex align-items-center mt-1 border-bottom">
                        <div>
                            <img src="assets/images/icon/Page.svg" width="45" alt="pages" class="rounded-circle">
                        </div>
                        <div class="text-dark m-b-0 m-l-15 font-18">
                            <h2 class="fant"> Páginas </h2>
                        </div>
                    </div>
                    <div class="p-3">
                        <button 
                            type="button" 
                            class="btn btn-info btn-block"
                            (click) = 'openRightSidebar("create")'
                        > 
                            Agregar páginas
                        </button>
                    </div>
                    <ul class="mailbox list-style-none">
                        <li>
                            <div class="message-center" style="height: calc(100vh - 340px);">
                                <div class="p-3">
                                    <h6 class="font-weight-normal text-muted text-uppercase mb-0">Estados</h6>
                                </div>
                                <div>
                                    <a class="message-item border-0 d-flex align-items-center py-3"
                                        (click)='showPages( true )'
                                    >
                                        <span>
                                            <i class="me-2 mdi mdi-format-page-break"></i>
                                        </span>
                                        <h5 class="ml-3 mb-0">Activas</h5>
                                        <div class="ml-auto">
                                            <span
                                                class="badge badge-success text-white font-medium badge-pill px-3 d-flex align-items-center">
                                                {{ webPages | counterStatus : true }}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a class="message-item border-0 d-flex align-items-center py-3"
                                        (click)='showPages( false )'
                                    >
                                        <span>
                                            <i class="me-2 mdi mdi-format-page-break"></i>
                                        </span>
                                        <h5 class="ml-3 mb-0">Inactivas</h5>
                                        <div class="ml-auto">
                                            <span class="badge badge-danger text-white font-medium badge-pill px-3 d-flex align-items-center">
                                                {{ webPages | counterStatus : false }}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-part">
                <div class="card mb-0">
                <!-- div class= -->
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-12 col-xl-4 border-right">
                            <div class="position-relative" style="height:100%;">
                                <div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
                                    <div>
                                        <span class="font-16 font-medium">Páginas {{ paginationPages.status? ' activas' : 'inactivas' }}</span>
                                    </div>
        
                                    <div *ngIf="webPagesFilter.length > 0 " class="mail-pagination">
                                        <ngb-pagination 
                                            (pageChange)='idPageSelected = ""'
                                            [collectionSize]="paginationPages.collectionSize" [(page)]="paginationPages.page" [pageSize]="paginationPages.pageSize"
                                        >
                                        </ngb-pagination>   
                                        <!-- <h1 *ngIf="pages === undefined && pages.id ==''" >sdfsdffsd</h1> -->
                                    </div>
                                </div>
                                <div *ngIf="webPagesFilter.length > 0 " class="position-relative" style="height: calc(100vh - 145px);" [perfectScrollbar]="config" >
                                    <!-- NgFor -->
                                    <div  
                                        *ngFor="let page of webPagesFilter | slice: (paginationPages.page-1) * paginationPages.pageSize : (paginationPages.page-1) * paginationPages.pageSize + paginationPages.pageSize" >
                                        <div class="p-3 border-bottom cursor-pointer">
                                            <div class="d-flex align-items-start">
                                                <span class="ml-2">
                                                    <!-- <i class="fab fa-internet-explorer text-primary"></i> -->
                                                    <img src="assets/images/icon/Page.svg" width="30" alt="pages" class="rounded-circle">
                                                </span>
                                                <div class="ml-3">
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="mb-0">{{ page.name }}</h3>
                                                    </div>
                                                    <!-- <h4 class="text-muted"> {{ page.name }} </h4> -->
                                                    <div class="text-white d-flex mt-2">
                                                        <span _ngcontent-sbc-c141="" class="badge  bg-primary">Sitio web:</span>
                                                        <span class="text-muted ml-2">{{ page.site | siteName : webSites }}</span>
                                                    </div>
                                                    <div class="text-white d-flex mt-2">
                                                        <span _ngcontent-sbc-c141="" class="badge bg-info">Url:</span>
                                                        <span class="text-muted ml-2">{{ page.slug }}</span>
                                                    </div>
                                                    <div class="text-white d-flex mt-2">
                                                        <span _ngcontent-sbc-c141="" class="badge bg-info">Peso:</span>
                                                        <span class="text-muted ml-2">{{ page.weight }}</span>
                                                    </div>
                                                    <div class="text-white d-flex mt-2" >
                                                        <button class="btn btn-sm btn-outline-primary " (click)="showData( page.id, 'contents' )">Mostrar contenido</button>
                                                        <button class="btn btn-sm btn-outline-info" (click)="showData( page.id, 'posts' )">Mostrar posts</button>
                                                    </div>
                                                </div>
                                                <!-- <div class="ml-auto">
                                                    <div class="text-right text-white">
                                                        <span _ngcontent-sbc-c141="" class="badge bg-primary">{{ page.weight }}</span>
                                                    </div>
                                                </div> -->
                                                <div class="d-flex ml-auto">
                                                   
                                                    <button type="button" class=" btn btn-circle rounded-circle btn-warning" (click) = 'openRightSidebar( "edit", page)' >
                                                        <i class="fas fa-edit"></i> Editar
                                                    </button>
                                                </div>
                                                <!-- <div class="d-flex mr-auto">
                                                    <div class="p-2 bd-highlight ml-1">Flex item 1</div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="webPagesFilter.length === 0 " class="position-relative" style="height: calc(100vh - 220px);" [perfectScrollbar]="config">
                                    <div class="d-flex align-items-center justify-content-center h-100" (click) = 'openRightSidebar("create")'>
                                        <div class="text-center" >
                                            
                                            <i class="fas fa-plus display-6">
                                            </i>
                                           
                                            <h3> Crear Página </h3>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xl-8 detail-part">
                            
                            <app-posts *ngIf ="showMode === 'posts' && idPageSelected !== '' " [idPage] ="idPageSelected" [pages] = "webPages"></app-posts>
                            <app-page-content *ngIf ="showMode === 'contents' && idPageSelected !== '' " [idPage] ="idPageSelected" [pages] = "webPages"></app-page-content>
                            
                            <div *ngIf="showMode === '' " class="position-relative" style="height: calc(100vh - 180px);" [perfectScrollbar]="config">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="text-center">
                                        
                                        <i class="fas fa-arrow-left display-6">
                                        </i>
                                       
                                        <h3> Selecciona una opción. </h3>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sidebar -->
    <div class="app-sidebar card" id="rightMenu">
        <div>
            <!-- -------------------------------------------------------------------------------------- -->
            <!-- Header of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <div class="d-flex p-3 border-bottom card-header">
                <div  class="d-flex align-items-center">
                    <!-- <input type="checkbox" class="custom-checkbox-width" >
                    <label  class="ml-3 mb-0 text-dark font-medium">MARK AS INCOMPLETE</label>
                    <label  class="ml-3 mb-0 text-dark font-medium">MARK AS COMPLETE</label> -->
                    <h2 class="text-center text-title"> {{sidebarMode === 'create'? 'Crear página' : 'Editar página'}} </h2>
                </div>

                <div class="ml-auto">
                    <a href="javascript:void(0)" class="text-danger" (click)='closeRightSidebar()'>
                        <i-feather name="x" class="feather-sm"></i-feather>
                    </a>
                </div>
            </div>
            <!-- ./  Header of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <!-- Body of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <div class="p-4">
                <form *ngIf="sidebarMode === 'create'" [formGroup] = "formCreate" (ngSubmit)="create( formCreate )">

                    <div class="form-group">
                        <label for="siteNameCreate">Sitio web</label>
                        <div class="input-group mb-3">    
                            <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal( modalWebSites, 'md' )" >
                                <i class="fa fa-search me-1"></i>
                                
                            </button>      
                            <input type="text" value="{{ formCreate.controls['site'].value | siteName : webSites }}" class="form-control"  id="siteNameCreate" disabled>
                        </div>  
                    </div>
                    <input type="hidden" class="form-control"  formControlName = "site" >
                    <div class="form-group">
                        <label for="name">Nombre de la página</label>     
                        <input type="text" class="form-control"  id="name" formControlName = "name" (keyup)="generateSlug( formCreate.get('name').value, formCreate )">
                    </div>
                    <div class="form-group">
                        <label for="slug">Url </label>
                        <input type="text" class="form-control"  id="slug" value="{{ formCreate.get('slug').value }}" disabled>                      
                    </div>
                    <div class="form-group">
                        <label for="weight">Peso</label>                 
                        <input type="number" class="form-control"  id="weight" formControlName = "weight">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block" >
                            <i-feather name="save" class="feather-sm mr-2"></i-feather>
                            Crear página
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-block" (click)='formCreate.reset()'>
                            <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                            Limpiar Formulario
                        </button>
                    </div>
                </form>

                <form *ngIf="sidebarMode === 'edit'"  [formGroup] = "formEdit" (ngSubmit)="edit()">
                    <div class="form-group">
                        <label for="siteNameCreate">Sitio web</label>
                        <div class="input-group mb-3">    
                            <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal(modalWebSites, 'md')" >
                                <i class="fa fa-search me-1"></i>
                            </button>      
                            <input type="text" value="{{ formEdit.controls['site'].value | siteName : webSites }}" class="form-control"  id="siteNameCreate" disabled>
                        </div>  
                    </div>
                    <input type="hidden" class="form-control"  id="site" formControlName = "site">
                    <div class="form-group">
                        <label for="name">Nombre de la página</label>     
                        <input type="text" class="form-control"  id="name" formControlName = "name" (keyup)="generateSlug( formEdit.get('name').value, formEdit )">
                    </div>
                    <div class="form-group">
                        <label for="slug">Url</label>
                        <input type="text" class="form-control"  id="slug" value="{{ formEdit.get('slug').value }}" disabled>                      
                    </div>
                    <div class="form-group">
                        <label for="weight">Peso</label>                 
                        <input type="number" class="form-control"  id="weight" formControlName = "weight">
                    </div>
                    <div class="form-group">
                        <label for="statusEdit">Estado</label>                 
                        <select id="statusEdit" formControlName = "is_active" class="form-control">
                            <option value="true" >Activo</option>
                            <option value="false" >Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <i-feather name="save" class="feather-sm mr-2"></i-feather>
                            Guardar cambios
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-block" (click)='formEdit.reset()'>
                            <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                            Limpiar Formulario
                        </button>
                    </div>
                </form>
            </div>
            <!-- ./ Body of sidebar -->
        </div>
    </div>
</div>
