<div>
    <ng-template #modalWebSites let-modal>
        <div class="modal-header">
            <h3 class="modal-title font-weight-bold" id="taskLabel">
                Seleccionar sitio web
            </h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderes table-hover">
                        <thead class = "table-dark">
                            <tr>
                                <th>Sitio web</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let site of webSites | slice: (paginacionSites.page-1) * paginacionSites.pageSize : (paginacionSites.page-1) * paginacionSites.pageSize + paginacionSites.pageSize">
                                <td>{{site.name}}</td>
                                <td class ="text-center">
                                    <div class="row">
                                        <div class="col-12 action-btn">
                                            <button
                                                class="btn btn-success ml-1 action-text cursor-pointer"
                                                (click)="sidebarMode === 'create'? selectSite(formCreate, site.id) : selectSite(formEdit, site.id)"
                                            >
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <ngb-pagination [collectionSize]="paginacionSites.collectionSize" [(page)]="paginacionSites.page" [pageSize]="paginacionSites.pageSize">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalCreateContent let-modal>
        <div class="modal-header">
            <h3 class="modal-title font-weight-bold" id="taskLabel">
                Nuevo contenido para {{ idPageSelected | pageName : webPages }}
            </h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <form [formGroup] = 'formCreatePageContent' (ngSubmit) ='createPageContent( formCreatePageContent )'>
                    <div class="form-group">
                        <label for="contentBody">Contenido:</label>
                        <!-- <input type="text" class="form-control"  id="slug" formControlName = "slug">        -->
                        <textarea 
                            class="form-control" 
                            name="contentPage" 
                            id="contentPage" 
                            cols="30" rows="4" 
                            formControlName='body'
                            placeholder="Contenido de la página">
                        </textarea>               
                    </div>
                    <div class="form-group">
                        <label for="contentIsActive">Estado de contenido:</label>
                        <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                            <option value="" select>Seleccionar estado</option>
                            <option value="true" select>Activo</option>
                            <option value="false" select>Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group ml-p2">
                        <button type ="submmit" class="btn btn-primary">Agregar</button>
                        <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>

    <!-- Modal editar contenido de página -->
    <ng-template #modalEditContentPage let-modal>
        <div class="modal-header">
            <h3 class="modal-title font-weight-bold" id="taskLabel">
                Editando contenido de {{ idPageSelected | pageName : webPages }}
            </h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <form [formGroup] = 'formEditPageContent' (ngSubmit) ='editPageContent( formEditPageContent )'>
                    <div class="form-group">
                        <label for="contentBody">Contenido:</label>
                        <!-- <input type="text" class="form-control"  id="slug" formControlName = "slug">        -->
                        <textarea 
                            class="form-control" 
                            name="contentPage" 
                            id="contentPage" 
                            cols="30" rows="4" 
                            formControlName='body'
                            placeholder="Contenido de la página">
                        </textarea>               
                    </div>
                    <div class="form-group">
                        <label for="contentIsActive">Estado de contenido:</label>
                        <select name="contentIsActive" id="contentIsActive" class="form-control" formControlName ='is_active'>
                            <option value="" select>Seleccionar estado</option>
                            <option value="true" select>Activo</option>
                            <option value="false" select>Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group ml-p2">
                        <button type ="submmit" class="btn btn-primary" >Editar</button>
                        <button type ="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>

    <div>
        <a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none"
        href="javascript:void(0)" (click)="mobileSidebar()"></a>
    
        <div class="main-part" style="height: calc(100vh - 145px);">
            <div class="left-part bg-white fixed-left-part" [ngClass]="{'show-panel': showSidebar}">
                <div class="position-relative" style="height:100%;">
                    <div class="p-l-15 p-r-25 py-3 d-flex align-items-center mt-1 border-bottom">
                        <div>
                            <img src="assets/images/paginas-web.png" width="45" alt="pages" class="rounded-circle">
                        </div>
                        <div class="text-dark m-b-0 m-l-15 font-18">
                            Páginas
                            <p class="m-b-0 font-12">
                                <i class="fa fa-circle text-success font-10 m-r-5"></i>
                                <span>Online</span>
                            </p>
                        </div>
                    </div>
                    <div class="p-3">
                        <button 
                            type="button" 
                            class="btn btn-info btn-block"
                            (click) = 'openRightSidebar("create")'
                        > 
                            Agregar páginas
                        </button>
                    </div>
                    <ul class="mailbox list-style-none">
                        <li>
                            <div class="message-center" style="height: calc(100vh - 340px);">
                                <div class="p-3">
                                    <h6 class="font-weight-normal text-muted text-uppercase mb-0">Estados</h6>
                                </div>
                                <div>
                                    <a class="message-item border-0 d-flex align-items-center py-3"
                                        (click)='showPages( true )'
                                    >
                                        <span>
                                            <i class="me-2 mdi mdi-format-page-break"></i>
                                        </span>
                                        <h5 class="ml-3 mb-0">Activas</h5>
                                        <div class="ml-auto">
                                            <span
                                                class="badge badge-success text-white font-medium badge-pill px-3 d-flex align-items-center">
                                                {{ webPages | counterStatus : true }}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a class="message-item border-0 d-flex align-items-center py-3"
                                        (click)='showPages( false )'
                                    >
                                        <span>
                                            <i class="me-2 mdi mdi-format-page-break"></i>
                                        </span>
                                        <h5 class="ml-3 mb-0">Inactivas</h5>
                                        <div class="ml-auto">
                                            <span class="badge badge-danger text-white font-medium badge-pill px-3 d-flex align-items-center">
                                                {{ webPages | counterStatus : false }}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <!-- <div class="p-3 border-top">
                                    <h6 class="font-weight-normal text-muted text-uppercase mb-0">FILTERS</h6>
                                </div> -->
                                <!-- <div class="p-3 border-top">
                                    <h6 class="font-weight-normal text-muted text-uppercase mb-0">LABELS</h6>
                                </div> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-part">
                <div class="card mb-0">
                <!-- div class= -->
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-12 col-xl-4 border-right">
                            <div class="position-relative" style="height:100%;">
                                <div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
                                    <div>
                                        <span class="font-16 font-medium">Páginas {{ paginationPages.status? ' activas' : 'inactivas' }}</span>
                                    </div>
        
                                    <div class="mail-pagination">
                                        <ngb-pagination 
                                            (pageChange)='idPageSelected = ""'
                                            [collectionSize]="paginationPages.collectionSize" [(page)]="paginationPages.page" [pageSize]="paginationPages.pageSize"
                                        >
                                        </ngb-pagination>   
                                        <!-- <h1 *ngIf="pages === undefined && pages.id ==''" >sdfsdffsd</h1> -->
                                    </div>
                                </div>
                                <div class="position-relative" style="height: calc(100vh - 248px);" [perfectScrollbar]="config" >
                                    <!-- NgFor -->
                                    <div  
                                        *ngFor="let page of webPagesFilter | slice: (paginationPages.page-1) * paginationPages.pageSize : (paginationPages.page-1) * paginationPages.pageSize + paginationPages.pageSize" (click)="showContents(page.id, true, 1)">
                                        <div class="p-3 border-bottom cursor-pointer">
                                            <div class="d-flex align-items-start">
                                                <span class="ml-2">
                                                    <i class="fas fa-user  font-12 text-success"></i>
                                                </span>
                                                <div class="ml-3">
                                                    <div class="d-flex align-items-center">
                                                        <h5 class="mb-0">{{page.site | siteName : webSites}}</h5>
                                                        <!-- <span class="ml-2">
                                                            <i class="fas fa-bookmark  font-12 text-success"></i>
                                                        </span> -->
                                                    </div>
                                                    <h4 class="text-muted"> {{ page.name }} </h4>
                                                </div>
                                                <div class="ml-auto">
                                                    <div class="text-right">
                                                        <span class="text-muted d-block">{{ page.weight }}</span>
                                                    </div>
                                                </div>
                                                <div class="ml-4">
                                                    <!-- <button 
                                                        class="btn btn-warning"
                                                        (click) = 'openRightSidebar( "edit", page)'
                                                    >
                                                        Editar
                                                    </button> -->
                                                    <button type="button" class=" btn btn-circle rounded-circle btn-warning" (click) = 'openRightSidebar( "edit", page)' >
                                                        <i class="fas fa-edit"></i> Editar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xl-8 detail-part">
                            
                            <div *ngIf='idPageSelected !== ""' class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
                                <!-- <app-page-content [pageId]="idPageSelected"></app-page-content> -->
                                <div>
                                    <select id="" class="form-control"  (change)="showContents(idPageSelected, !paginationContentPage.status, 1)">
                                        <option value="true" [selected] = "paginationContentPage.status"> Contenido activo </option>
                                        <option value="false" [selected] = "paginationContentPage.status===false">Contenido inactivo</option>
                                    </select>
                                    
                                </div>
    
                                <div *ngIf='contentsByPage.length > 0' class="mail-pagination ">
                                    <ngb-pagination 
                                        [collectionSize]="paginationContentPage.collectionSize" [(page)]="paginationContentPage.page" [pageSize]="paginationContentPage.pageSize"
                                    >
                                    </ngb-pagination>   
                                </div>
                                <div  class="text-left">
                                    <button class ="btn btn-primary" (click)='openModal(modalCreateContent, "md", "createContent")'>Agregar Contenido</button>
                                </div>
                            </div>

                            <div *ngIf='idPageSelected !== ""' class="d-flex align-items-center p-3 border-bottom">
                                <h4 class="mb-0">    
                                    <span class="badge badge-pill badge-primary mr-2 font-16 font-medium"> Página
                                    </span>
                                    {{ idPageSelected | pageName : webPages }}
                                </h4>
                            </div>
                            <div class="h-100 d-none d-lg-block" *ngIf = "idPageSelected ==='' || contentsByPage.length === 0">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div *ngIf = "idPageSelected ===''" class="text-center">
                                        
                                        <i class="fas fa-arrow-left display-6">
                                        </i>
                                       
                                        <h3> Selecciona una página para visualizar su contenido. </h3>
                                    </div>
                                    <div *ngIf = "idPageSelected !=='' && contentsByPage.length === 0 " class="text-center">
                                        <a href="javascript:void(0)" (click) ='openModal(modalCreateContent, "md", "createContent")' >
                                            <i class=" fas fa-plus display-6">
                                            </i>
                                        </a>
                                        <h3> Agregár contenido. </h3>
                                    </div>
                                </div>
        
                            </div>
        
                            <div *ngIf='contentsByPage.length > 0 && idPageSelected !== "" '>
                                <div class="position-relative" style="height: calc(100vh - 180px);" [perfectScrollbar]="config">
                                    <!-- <router-outlet></router-outlet> -->
                                    <!-- POSTS NAVIGATION -->
                                    <!-- POSTS -->
                                    <spam *ngFor="let content of contentsByPage | slice: (paginationContentPage.page-1) * paginationContentPage.pageSize : (paginationContentPage.page-1) * paginationContentPage.pageSize + paginationContentPage.pageSize" >
                                        
                                        <div class="p-3">
                                            <div class="mb-3 d-flex align-items-center">
                                                <img src="../../../../assets/images/img1.jpg" class="rounded-circle" alt="userimg" width="35" height="35">
                                                <div class="ml-2">
                                                    <h5 class="mb-0">Autor</h5>
                                                    <span class="text-muted">To me,</span>
                                                </div>
                                        
                                            </div>
                                            <div class="mb-4">
                                                {{ content.body }}
                                            </div>
                                            <div class="mb-3">
                                                <div *ngIf='true'>
                                                    <button type="button" class="btn btn-outline-success btn-sm" (click)="openModal(modalEditContentPage, 'md', 'editContent', content)" >
                                                        <i class="me-2 fas fa-edit"></i> Editar
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger ml-1 btn-sm" >
                                                        <i class="me-1 mdi mdi-delete-forever"></i> Deshabilitar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = 'border-bottom mb-2'></div>
                                    </spam>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- sidebar -->
    <div class="app-sidebar card" id="rightMenu">
        <div>
            <!-- -------------------------------------------------------------------------------------- -->
            <!-- Header of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <div class="d-flex p-3 border-bottom card-header">
                <div  class="d-flex align-items-center">
                    <!-- <input type="checkbox" class="custom-checkbox-width" >
                    <label  class="ml-3 mb-0 text-dark font-medium">MARK AS INCOMPLETE</label>
                    <label  class="ml-3 mb-0 text-dark font-medium">MARK AS COMPLETE</label> -->
                    <h2 class="text-center text-title"> {{sidebarMode === 'create'? 'Crear página' : 'Editar página'}} </h2>
                </div>

                <div class="ml-auto">
                    <a href="javascript:void(0)" class="text-danger" (click)='closeRightSidebar()'>
                        <i-feather name="x" class="feather-sm"></i-feather>
                    </a>
                </div>
            </div>
            <!-- ./  Header of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <!-- Body of sidebar -->
            <!-- -------------------------------------------------------------------------------------- -->
            <div class="p-4">
                <form *ngIf="sidebarMode === 'create'" [formGroup] = "formCreate" (ngSubmit)="create( formCreate )">

                    <div class="form-group">
                        <label for="siteNameCreate">Sitio web</label>
                        <div class="input-group mb-3">    
                            <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal( modalWebSites, 'md' )" >
                                <i class="fa fa-search me-1"></i>
                            </button>      
                            <input type="text" value="{{ formCreate.controls['site'].value | siteName : webSites }}" class="form-control"  id="siteNameCreate" disabled>
                        </div>  
                    </div>
                    <input type="hidden" class="form-control"  formControlName = "site" >
                    <div class="form-group">
                        <label for="name">Nombre de la página</label>     
                        <input type="text" class="form-control"  id="name" formControlName = "name">
                    </div>
                    <div class="form-group">
                        <label for="slug">Dirección de la página </label>
                        <input type="text" class="form-control"  id="slug" formControlName = "slug">                      
                    </div>
                    <div class="form-group">
                        <label for="weight">Peso</label>                 
                        <input type="number" class="form-control"  id="weight" formControlName = "weight">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block" >
                            <i-feather name="save" class="feather-sm mr-2"></i-feather>
                            Crear página
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-block" (click)='formCreate.reset()'>
                            <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                            Limpiar Formulario
                        </button>
                    </div>
                </form>

                <form *ngIf="sidebarMode === 'edit'"  [formGroup] = "formEdit" (ngSubmit)="edit()">
                    <div class="form-group">
                        <label for="siteNameCreate">Sitio web</label>
                        <div class="input-group mb-3">    
                            <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal(modalWebSites, 'md')" >
                                <i class="fa fa-search me-1"></i>
                            </button>      
                            <input type="text" value="{{ formEdit.controls['site'].value | siteName : webSites }}" class="form-control"  id="siteNameCreate" disabled>
                        </div>  
                    </div>
                    <input type="hidden" class="form-control"  id="site" formControlName = "site">
                    <div class="form-group">
                        <label for="name">Nombre de la página</label>     
                        <input type="text" class="form-control"  id="name" formControlName = "name">
                    </div>
                    <div class="form-group">
                        <label for="slug">Dirección de la página </label>
                        <input type="text" class="form-control"  id="slug" formControlName = "slug">                      
                    </div>
                    <div class="form-group">
                        <label for="weight">Peso</label>                 
                        <input type="number" class="form-control"  id="weight" formControlName = "weight">
                    </div>
                    <div class="form-group">
                        <label for="statusEdit">Estado</label>                 
                        <select id="statusEdit" formControlName = "is_active" class="form-control">
                            <option value="true" >Activo</option>
                            <option value="false" >Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <i-feather name="save" class="feather-sm mr-2"></i-feather>
                            Guardar cambios
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-block" (click)='formEdit.reset()'>
                            <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                            Limpiar Formulario
                        </button>
                    </div>
                </form>
            </div>
            <!-- ./ Body of sidebar -->
        </div>
    </div>
</div>
