<div class="row">
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover" (click)="showMenus('all')">
            <div class="box bg-info cursor-pointer text-center">
                <h1 class="fw-light text-white">
                    {{ menus.length }}
                </h1>
                <h6 class="text-white">
                    Total menús
                </h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover" (click)="showMenus('actives')">
            <div class="box bg-success cursor-pointer text-center">
                <h1 class="fw-light text-white">
                    {{ menus | counterStatus : true }}
                </h1>
                <h6 class="text-white">
                    Menús activos
                </h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover" (click)="showMenus('inactives')">
            <div class="box bg-danger cursor-pointer text-center">
                <h1  class="fw-light text-white">
                    {{ menus | counterStatus : false }}
                </h1>
                <h6 class="text-white">
                    Menús inactivos
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Sitio Web</th>
                        <th>Titulo</th>
                        <th>Página</th>
                        <th>Padre</th>
                        <!-- <th>Url</th> -->
                        <th>Nivel</th>
                        <th>Peso</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let menu of menusForTable | slice: (pagMenu.page-1) * pagMenu.pageSize : (pagMenu.page-1) * pagMenu.pageSize + pagMenu.pageSize">
                        <td class="text-center">{{ menu.site | siteName: sites }}</td>
                        <td class="text-center">{{ menu.title }}</td>
                        <td class="text-center">{{ menu.page != null ? (menu.page | pageNameTwo: pages) : 'Sig. Página'}}</td>
                        <td class="text-center">{{ menu.father != null ? (menu.father | menuName: allMenus) : 'No tiene padre'}}</td>
                        <!-- <td>{{ menu.slug }}</td> -->
                        <td >{{ menu.level }}</td>
                        <td width="100">{{ menu.weight }}</td>

                        <td *ngIf="menu.is_active" width="150" class = "text-white"><span class="badge bg-success">Activo</span></td>
                        <td *ngIf="!menu.is_active" width="150"  class = "text-white"><span class="badge bg-danger">Inactivo</span></td>
        
                        <td>
                            <div class="row">
                                <div class="col-12 action-btn">
                                    <a class="btn btn-warning ml-1 action-text cursor" (click)="chooseMenus(menu)">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </div>  
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <ngb-pagination [collectionSize]="pagMenu.collectionSize" [(page)]="pagMenu.page" [pageSize]="pagMenu.pageSize">
            </ngb-pagination>
        </div>
    </div>
</div>
