<div class="col-12 mb-3 table-users" *ngIf="!charging">
    <div class="card">
        <div class="card-body">
            <div class="row bd-highlight mb-2">
                <div class="col-12">
                    <h1 class="fant"> Banner </h1>
                    <div class="float-left align-center justify-content-center">
                        <h1 class="h3 mb-0 text-gray-800 pt-2">Total: {{ totalWebBanner }}</h1>
                    </div>
                
                    <div class="float-right bd-highlight">
                        <button class="btn btn-info cursor" (click)="addTaskSection()">
                            <i class="fas fa-plus-circle"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Página</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of webBanner |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td>{{ data.page | pageName : webPages }}</td>
                            <td>{{ data.name }}</td>
                            <td *ngIf="data.is_active"><span class="label label-success">Activo</span></td>
                            <td *ngIf="!data.is_active"><span class="label label-danger">No activo</span></td>
                            <td class="text-center">
                                <div class="row">
                                    <div class="col-12 action-btn">
                                        <a class="btn btn-warning ml-1 action-text cursor" (click)="openModalEdit(modalEditBanner, data)">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </div>  
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">

                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<!-- Crear Banner -->
<div class="app-sidebar card" id="rightMenu">
    <!-- Header -->
   <div class="d-flex p-3 border-bottom card-header">
       <div class="d-flex align-items-center">
           Agregar Banner
       </div>
       <div class="ml-auto">
           <a href="javascript:void(0)" class="text-danger" (click)='closeRightMenu()'>
               X
           </a>
       </div>
   </div>

   <!-- Body -->
   <div class="row">
       <div class="p-4">
           <div class="card card-body">
               <form *ngIf='selectedST' [formGroup]="formBannerCreate"  (ngSubmit)="create()">
                   <div class="form-group">
                       <label> Page</label>
                       <div class="input-group mb-3">
                       <input type="text" class="form-control" disabled value="{{ getName(formBannerCreate.value.page) || ''}}" >
                       <button type="button" class=" ml-1 btn btn-info" (click)="openModal(modalMostrarPages, 0)">
                        <i class="fa fa-search me-1"></i>
                       </button>
                    </div>
                   </div>
                   <div class="form-group">
                       <label> Nombre</label>
                       <input type="text" class="form-control" formControlName="name" placeholder="Escribir Nombre" >
                   </div>
                   <div class="modal-footer" >
                       <button type="submit" class="btn btn-success" >Guardar</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
 <!-- mostrar Paginas -->
 <ng-template id="modalShow" #modalMostrarPages let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Mostrar pagina</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="float-left align-center justify-content-center">
        <h1 class="h3 mb-0 text-gray-800 pt-2 ml-3">Total: {{ totalWebPage }}</h1>
    </div>
    <div class="modal-body">
        <div class="table-responsive" > 
        
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Pagina</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of webPages |slice: (pageP-1) * pageSizeP : (pageP-1) * pageSizeP + pageSizeP">
                        <td>{{ item.name }}</td>
                        <td>
                            <div class="col">
                                <button *ngIf="idView == 'create'" class="btn btn-info" (click)="seleccionar(item)">
                                    <span>
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </span> Seleccionar                       
                                </button>
                                <button *ngIf="idView == 'edit'" class="btn btn-warning" (click)="seleccionar(item)">
                                    <span>
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </span> Seleccionar                       
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <div class="d-flex justify-content-center mt-5">
                    <ngb-pagination [collectionSize]="collectionSizePage" [(page)]="pageP" [pageSize]="pageSizeP">
    
                    </ngb-pagination>
                </div>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        
    </div>
</ng-template>
<!-- modal Editar Banner -->
<ng-template #modalEditBanner let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Editar Banner</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card card-body">
                <form class="form-group" [formGroup]="formBannerEdit" (ngSubmit)="edit()">
                    
                    <div class="form-group">
                        <label> Page</label>
                        <div class="input-group mb-3"> 
                        <input type="text" class="form-control" disabled value="{{ getName(formBannerEdit.value.page) || ''}}" >
                        <button type="button" class=" ml-1 btn btn-info" (click)="openModal(modalMostrarPages, 1)">
                            <i class="fa fa-search me-1"></i>
                        </button>
                        </div>
                    </div>
                        <div class="form-group">
                            <label> Nombre</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Escribir Nombre" >
                        </div>
                    <div class="form-group" >
                        <label>Estado</label>
                        <select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="is_active" >
                            <option value="" selected>--Seleccione una Opcion</option>
                            <option value="true">Activado</option>
                            <option value="false">Desactivado</option>
                        </select>
                    </div>
                        <div class="modal-footer" >
                            <button type="submit" class="btn btn-success" >Guardar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>