<ng-template #modalPages let-modal>
    <div class="modal-header">
        <h3 class="modal-title font-weight-bold" id="taskLabel">
            Seleccionar Página
        </h3>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class = "table-dark">
                        <tr>
                            <th>Página</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let page of pages | slice: (pagPages.page-1) * pagPages.pageSize : (pagPages.page-1) * pagPages.pageSize + pagPages.pageSize">
                            <td>{{page.name}}</td>
                            <td ><span class="label" [ngClass]="{'label-success' : page.is_active, 'label-danger' : !page.is_active }">{{ page.is_active? 'Activo' : 'Inactivo' }}</span></td>
                            <td class ="text-center">
                                <div class="row">
                                    <div class="col-12 action-btn">
                                        <button
                                            class="btn btn-info ml-1 action-text cursor-pointer"
                                            (click)="sidebarMode === 'create'? selectPage(formCreate, page) : selectPage(formEdit, page)"
                                        >
                                            Seleccionar
                                            <i class="fas fa-chevron-circle-right ml-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <ngb-pagination [collectionSize]="pagPages.collectionSize" [(page)]="pagPages.page" [pageSize]="pagPages.pageSize">
                </ngb-pagination>
            </div>
        </div>
    </div>
</ng-template>

<div class="card">
    <div class="card-body">
        <h3>
            Banners 
            <button (click)="openRightSidebar('create')" class="btn btn-info cursor float-right">
                <i class="fas fa-plus-circle"></i> Crear banner
            </button>
            <div class="clearfix"></div>
        </h3>
        <hr>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card card-hover" (click)="showBanners('all')">
                    <div class="box bg-info cursor-pointer text-center">
                        <h1 class="fw-light text-white">
                            {{ banners.length }}
                        </h1>
                        <h6 class="text-white">
                            Todos
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card card-hover" (click)="showBanners('actives')">
                    <div class="box bg-success cursor-pointer text-center">
                        <h1 class="fw-light text-white">
                            {{ banners | counterStatus : true }}
                        </h1>
                        <h6 class="text-white">
                            Banners activos
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card card-hover" (click)="showBanners('inactives')">
                    <div class="box bg-danger cursor-pointer text-center">
                        <h1  class="fw-light text-white">
                            {{ banners | counterStatus : false }}
                        </h1>
                        <h6 class="text-white">
                            Banners inactivos
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-3 table-users">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <!-- <th class="w100">Icon</th> -->
                                    <th>Nombre</th>
                                    <th>Página</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let banner of bannersForTable | slice: (pagBanners.page-1) * pagBanners.pageSize : (pagBanners.page-1) * pagBanners.pageSize + pagBanners.pageSize">
                                    <!-- <td class="text-center">
                                        <img [src]="site.icon" alt="Icon" class="avatar cursor">
                                    </td> -->
                                    <td>{{ banner.name }}</td>
                                    <td>{{ banner.page | pageName : pages }}</td>
                                    <td *ngIf="banner.is_active"><span class="label label-success">Activo</span></td>
                                    <td *ngIf="!banner.is_active"><span class="label label-danger">No activo</span></td>
                                    <td class="text-center">
                                        <div class="row">
                                            <div class="col-12 action-btn">
                                                <a class="btn btn-warning ml-1 action-text cursor" (click)="openRightSidebar('edit', banner)">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </div>  
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <ngb-pagination 
                            [collectionSize]="pagBanners.collectionSize" [(page)]="pagBanners.page" [pageSize]="pagBanners.pageSize">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sidebar -->
<div class="app-sidebar card" id="rightMenu">
    <div>
        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Header of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="d-flex p-3 border-bottom card-header">
            <div  class="d-flex align-items-center">
                <h2 class="text-center text-title"> {{sidebarMode === 'create'? 'Crear banner' : 'Editar banner'}} </h2>
            </div>

            <div class="ml-auto">
                <a href="javascript:void(0)" class="text-danger" (click)='closeRightSidebar()'>
                    <i-feather name="x" class="feather-sm"></i-feather>
                </a>
            </div>
        </div>
        <!-- ./  Header of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Body of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="p-4">
            <form *ngIf="sidebarMode === 'create'" [formGroup] = "formCreate" (ngSubmit)="create( formCreate )">
                <div class="form-group">
                    <label for="pageNameCreate">Página</label>
                    <div class="input-group mb-3">    
                        <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal( modalPages, 'lg' )" >
                            <i class="fa fa-search me-1"></i>
                            
                        </button>      
                        <input type="text" value="{{ formCreate.get('page').value | pageName : pages }}" class="form-control"  id="pageNameCreate" disabled>
                    </div>  
                </div>
                <div class="form-group">
                    <label> Nombre</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Nombre del banner">
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" >
                        <i-feather name="save" class="feather-sm mr-2"></i-feather>
                        Crear banner
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block" (click)='loadFormCreate()'>
                        <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                        Limpiar Formulario
                    </button>
                </div>
            </form>

            <form *ngIf="sidebarMode === 'edit'"  [formGroup] = "formEdit" (ngSubmit)="edit( formEdit )">
                <div class="form-group">
                    <label for="pageNameEdit">Página</label>
                    <div class="input-group mb-3">    
                        <button type = "button" class=" ml-1 btn btn-info" (click) ="openModal( modalPages, 'lg' )" >
                            <i class="fa fa-search me-1"></i>
                            
                        </button>      
                        <input type="text" value="{{ formEdit.get('page').value | pageName : pages }}" class="form-control"  id="pageNameEdit" disabled>
                    </div>  
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Escriba Nombre del Sitio Web">
                </div>
                <div class="form-group">
                    <label for="statusEdit">Estado</label>                 
                    <select id="statusEdit" formControlName = "is_active" class="form-control">
                        <option value="true" >Activo</option>
                        <option value="false" >Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        <i-feather name="save" class="feather-sm mr-2"></i-feather>
                        Guardar cambios
                    </button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block" (click)='closeRightSidebar()'>
                        <i-feather name="trash-2" class="feather-sm mr-2"></i-feather>
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
        <!-- ./ Body of sidebar -->
    </div>
</div>
