<div>
    <a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none"
    href="javascript:void(0)" (click)="mobileSidebar()"></a>

    <div class="main-part" style="height: calc(100vh - 145px);">
        <div class="left-part bg-white fixed-left-part" [ngClass]="{'show-panel': showSidebar}">
            <div class="position-relative" style="height:100%;">
                <div class="p-l-15 p-r-25 py-3 d-flex align-items-center mt-1 border-bottom">
                    <div>
                        <img src="assets/images/users/8.jpg" width="45" alt="user" class="rounded-circle">
                    </div>
                    <div class="text-dark m-b-0 m-l-15 font-18">
                        Páginas
                        <p class="m-b-0 font-12">
                            <i class="fa fa-circle text-success font-10 m-r-5"></i>
                            <span>Online</span>
                        </p>
                    </div>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-info btn-block"> Agregar páginas
                    </button>
                </div>
                <ul class="mailbox list-style-none">
                    <li>
                        <div class="message-center" style="height: calc(100vh - 340px);">
                            <div class="p-3">
                                <h6 class="font-weight-normal text-muted text-uppercase mb-0">Estados</h6>
                            </div>
                            <div>
                                <a class="message-item border-0 d-flex align-items-center py-3">
                                    <span>
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <h5 class="ml-3 mb-0">Activas</h5>
                                    <div class="ml-auto">
                                        <span
                                            class="badge badge-success text-white font-medium badge-pill px-3 d-flex align-items-center">45</span>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="message-item border-0 d-flex align-items-center py-3">
                                    <span>
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <h5 class="ml-3 mb-0">Inactivas</h5>
                                    <div class="ml-auto">
                                        <span
                                            class="badge badge-danger text-white font-medium badge-pill px-3 d-flex align-items-center">45</span>
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="p-3 border-top">
                                <h6 class="font-weight-normal text-muted text-uppercase mb-0">FILTERS</h6>
                            </div> -->
                            <!-- <div class="p-3 border-top">
                                <h6 class="font-weight-normal text-muted text-uppercase mb-0">LABELS</h6>
                            </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-part">
            <div class="card mb-0">
            <!-- div class= -->
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-xl-4 border-right">
                        <div class="position-relative" style="height:100%;">
                            <div class="d-flex align-items-center justify-content-between px-3 py-4 border-bottom">
                                <div>
                                    <span class="font-16 font-medium">Lista de páginas</span>
                                </div>
    
                                <div class="mail-pagination">
                                    <span>Páginación</span>
                                    <!-- <ngb-pagination [collectionSize]="ms.collectionSize" [(page)]="ms.page"
                                        [pageSize]="ms.pageSize">
                                    </ngb-pagination> -->
                                </div>
                            </div>
                            <div class="position-relative" style="height: calc(100vh - 248px);" >

                                <!-- NgFor -->
                                <div>
                                    <div class="p-3 border-bottom cursor-pointer">
                                        <div class="d-flex align-items-start">
                                            dfgdfgh
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

